.quotesContainer {
  padding: 10px 10px;
}

.quotesNav {
  margin-top: 40px;
  margin-bottom: 50px;
  padding: 0 25px;
}

.quotesNav p {
  font-size: 18px;
}

.quotesRadios {
  margin-bottom: 25px;
}

.quotesRadios label {
  display: inline-flex;
  margin-bottom: 15px;
  margin-right: 15px;
  cursor: pointer;
}

.quotesRadios input {
  display: inline-block;
  flex-shrink: 0;
  flex-grow: 0;
  margin: 0 8px 0 0;

  width: 17px;
  height: 17px;
  border-radius: 50%;
  border: 2px solid #63a063;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: 0.3s ease;
  cursor: pointer;
}


.quotesRadios input:checked {
  background: radial-gradient(#63a063 0%, #63a063 35%, #f5eb92 45%, #f5eb92 100%);
}

.quotesRadios span {
  display: inline-flex;
}




.generateBtn {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #9cdba6;
  padding: 10px;
  border-radius: 2px;
  font-weight: 500;
  font-size: 18px;
  transition: 0.3s;
}

.generateBtn:hover {
  background-color: #73e086;
  transition: 0.3s;
}