.catsContainer {
  padding: 0 20px;
}

.loadMore {
  display: block;
  margin: 0 auto;
  background-color: #72d7b5;
  padding: 10px;
  cursor: pointer;
}

.breedsList {
  background-color: var(--theme-default-textarea-bg-color);
  padding: 3px;
  border: 1px solid #25a704;
}

.breedsList:focus {
  outline: none;
}