@import '/src/styles/normalize.css' all;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
  --theme-light-body-bg-color: #fcfcfc;
  --theme-dark-body-bg-color: #414040;
  --theme-default-body-bg-color: var(--theme-light-body-bg-color);

  --theme-light-text-color: #000;
  --theme-dark-text-color: #fff;
  --theme-default-text-color: var(--theme-light-text-color);

  --theme-light-header-bg-color: #dbb47a;
  --theme-dark-header-bg-color: #242322;
  --theme-default-header-bg-color: var(--theme-light-header-bg-color);

  --theme-light-footer-bg-color: #dbb47a;
  --theme-dark-footer-bg-color: #242322;
  --theme-default-footer-bg-color: var(--theme-light-footer-bg-color);

  --theme-light-theme-switcher-bg-color: #fff9af;
  --theme-dark-theme-switcher-bg-color: #b5d2fd;
  --theme-default-theme-switcher-bg-color: var(--theme-light-theme-switcher-bg-color);

  --theme-light-aside-bg-color: #ffaf90;
  --theme-dark-aside-bg-color: #202c3e;
  --theme-default-aside-bg-color: var(--theme-light-aside-bg-color);

  --theme-light-main-bg-color: #fff2ca;
  --theme-dark-main-bg-color: #33435a;
  --theme-default-main-bg-color: var(--theme-light-main-bg-color);

  --theme-light-quote-bg-color: #ffffe6;
  --theme-dark-quote-bg-color: #cdc5f8;
  --theme-default-quote-bg-color: var(--theme-light-quote-bg-color);

  --theme-light-quote-shadow: 7px 7px 21px 3px rgba(135, 135, 103, 0.2);
  --theme-dark-quote-shadow: 7px 7px 21px 3px rgba(148, 193, 236, 0.2);;
  --theme-default-quote-shadow: var(--theme-light-quote-shadow);
  
  --theme-light-textarea-bg-color: #ffffef;
  --theme-dark-textarea-bg-color: #c4bcf5;
  --theme-default-textarea-bg-color: var(--theme-light-textarea-bg-color);
  
  --theme-light-todoItem-bg-color: #fffabd;
  --theme-dark-todoItem-bg-color: #2f3c4e;
  --theme-default-todoItem-bg-color: var(--theme-light-todoItem-bg-color);

  --theme-light-todoChekboxArrow-bg-color: #464646;
  --theme-dark-todoChekboxArrow-bg-color: #b5d2fd;
  --theme-default-todoChekboxArrow-bg-color: var(--theme-light-todoChekboxArrow-bg-color);

}

html {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

ul, li {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--theme-default-body-bg-color);
}

img {
  display: block;
}

p, button {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline:none;
  cursor:pointer;
}

.container {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
  color: var(--theme-default-text-color);
  -webkit-box-shadow: 0px 0px 25px 10px rgba(33, 62, 84, 0.2);
  -moz-box-shadow: 0px 0px 25px 10px rgba(33, 62, 84, 0.2);
  box-shadow: 0px 0px 25px 10px rgba(33, 62, 84, 0.2);
}
