.profileContainer {
  padding: 20px 20px;
}

.noUser {
  display: flex;
  justify-content: center;
  align-items: center;
}

.noUser div {
  position: absolute;
  top: 33%;
  padding: 20px;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.profileHeader img {
  height: 175px;
}

.profileHeader {
  display: flex;
  margin-bottom: 20px;
}

.profileInfo {
  margin-left: 20px;
}

@media screen and (max-width: 520px) {

  .profileHeader {
    flex-direction: column;
  }
  .profileInfo {
    margin: 20px 0 0 0;
  }
  .profileHeader img {
    align-self: center;
  }
}

.profileInfo div {
  margin-bottom: 10px;
  font-size: 18px;
}

.profileInfo div span {
  font-weight: 500;
}


.editBtns {
  margin: 0 0 15px 0;
}

.editBtns button {
  margin: 5px 10px 5px 0;
  padding: 5px;
  max-width: 120px;
  width: 100%;
}

.editBtn {
  border: 1px solid #000;
  background-color: #6ff5ab;
  color: #000;
}


.deleteBtn {
  border: 1px solid #000;
  background-color: #f56f6f;
  color: #000;

}

.warningText {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
}

.modalBtns {
  display: flex;
  justify-content: space-around;
}

.modalBtn {
  display: block;
  padding: 5px;
  border: 1px solid #000;
}

.cancelBtn {
  background-color: #cfddaf;
}

.confirmBtn {
  background-color: #e98585ef;
}