.header {
  background-color: var(--theme-default-header-bg-color);
  color: var(--theme-default-text-color);
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger {
  display: none;
  cursor: pointer;
  position: relative;
  width: 35px;
  height: 25px;
  z-index: 15;
}

@media screen and (max-width: 900px) {
  .burger {
    display: block;
  }
}

.burger:before,
.burger:after {
    content: '';
    position: absolute;
    background-color: var(--theme-default-text-color);
    width: 100%;
    height: 3px;
    left: 0;
    transition: all 0.4s ease;
}

.burger:before {
    top: 0;
}

.burger:after {
    bottom: 0;
}

.burgerSpan {
    position: absolute;
    background-color: var(--theme-default-text-color);
    width: 100%;
    height: 3px;
    top: 11px;
    transition: all 0.4s ease;
}

.burger.active .burgerSpan{
    transform: scale(0);
    transition: all 0.4s ease;
}

.burger.active:before {
    transform: rotate(45deg);
    top: 11px;
    transition: all 0.4s ease;
}

.burger.active:after {
    transform: rotate(-45deg);
    bottom: 11px;
    transition: all 0.4s ease;
}

.headerTools {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
}