.cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 10px;
  border: 2px solid #47b659;
  width: 30%;
  padding: 10px;
  background-color: var(--theme-default-main-bg-color);
}

.catImage {
  height: 200px;
  width: 100%;
  object-fit: contain;
}


.cardLink {
  color: var(--theme-default-text-color);
  font-size: 18px;
  margin: 10px 0;
  transition: 0.1s all;
}

.cardLink:hover {
  transition: 0.1s all;
  color:#47b659;
  text-decoration: underline;
}

.noCats {
  margin-top: 50px;
}