.footer {
  background-color: var(--theme-default-footer-bg-color);
  color: var(--theme-default-text-color);
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 20px 30px;
}

.footerGit {
  margin-right: 20px;
}

.svgWrapperGit {
  width: 50px;
}

.svgWrapperGit svg {
  fill:#24a30b
}