.loginContainer {
  margin: 100px auto 0 auto;
  max-width: 280px;
  width: 100%;
}

.form {
  border: 2px solid #8df1b7;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.loginLabel {
  display: block;
  margin: 10px auto;
}

.loginInput {
  width: 100%;
  padding: 5px;
  border: 2px solid #8df1b7;
  border-radius: 5px;
  font-size: 16px;
}

.loginInput:focus {
  outline: 2px solid #85f181;
  background-color: #f4fff8;
}

.loginLabel p {
  margin-bottom: 5px;
  font-size: 16px;
}

.sendBtn {
  border: none;
  outline: none;
  padding: 10px 20px;
  background-color: #42e985;
  font-size: 16px;
  border-radius: 2px;
  cursor: pointer;
}

.form .loginLabel:last-child {
  margin-bottom: 25px;
}

.error {
  font-size: 14px;
  margin-top: 5px;
  color: #c74949;
}

.wrongValue {
  background-color: #ffefef;
  border: 2px solid #ffbccd;
}

.wrongValue:focus {
  outline: 1px solid #ffbccd;
  background-color: #ffefef;
}

.regLink {
  color:#33c32e;
}