.todoAddForm {
  margin-bottom: 35px;
}


.todoInput {
  display: block;
  outline: none;
  resize: none;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  height: 100px;
  min-height: 100px;
  padding: 10px;
  margin-bottom: 17px;
  border: 2px solid #c96ebe;
  color: #000;
  background-color: var(--theme-default-textarea-bg-color);
}

.selectsWrapper {
  display: flex;
  flex-wrap: wrap;
}

.todoSelect {
  width: 131px;
  padding: 2px;
  background-color: var(--theme-default-textarea-bg-color);
}

.todoSelect:focus {
  outline: none;
}

.submitBtn {
  display: block;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #b4dcff;
  font-weight: 500;
  font-size: 18px;
  margin: 10px auto 0 auto;
}

div .todoSelect:first-child {
  margin-right: 15px;
  margin-bottom: 15px;
}

