.filterSearch {
  padding: 5px 10px;
  display: inline-block;
  border: 1px solid #444444;
  border-radius: 8px;
}

.filterSearch:focus {
  outline: 1px solid #cf7bbd;
  border-color:#cf7bbd;
}

.searchForm {
  margin-bottom: 10px;
}

.checkboxes, .checkboxes div {
  display: flex;
  align-items: center;
  font-size: 15px;
}

.checkboxes div {
  margin-left: 10px;
}

.checkboxes div:first-child {
  margin-left: 0;
}

.filterCheckbox {
  display: none;
}

.filterLabel {
  cursor: pointer;
}

.filterLabel svg {
  fill: var(--theme-default-todoChekboxArrow-bg-color);
  border-radius: 50%;
}

.filterLabel span {
  display: inline-flex;
  height: 23px;
  margin-left: 5px;
}

.arrow-up {
  transition: 0.3s;
}

.arrow-down {
  transform: rotate(180deg);
  transition: 0.3s;
}

.activeSortOption{
  text-decoration: underline;
}

.activeSortOption svg{
  background-color: #cf7bbd;
}