.loaderWrapper {
  background-color: transparent;
  position: relative;
}

.loaderBody {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loaderSvg {
  height: 50px;
  width: 50px;
}
