.usersListContainer {
  padding: 20px 20px;

}

.noUsers {
  display: flex;
  justify-content: center;
  align-items: center;
}

.noUsers div {
  position: absolute;
  top: 33%;
  padding: 20px;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.userContainer {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.userContainer img {
  height: 80px;
  width: 80px;
  object-fit: cover;
}

.userInfo {
  margin-left: 20px;
  font-size: 18px;
}

